
<html>
<head runat="server">
    <title>Todo Application</title>
    <link href="~/CSS/Todo.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-center">
        <form>
            <h2>Wel-come to todo Application</h2><br />
            <label>If Already have an Account please...<a href="/Admin/Login" class="btn1">Login</a></label>
            <br />
            <label>Dont have an account? please <a href="/Admin/Register" class="btn2">SignUp</a></label>
        </form>
        <h2>Todo Application</h2>
        <div class="ticket">
            <button id="button1">Add new Board</button>
        </div>
        @*<select name="Todos" id="Todos">
            <option value="Todo">Todo</option>
            <option value="Doing">Doing</option>
            <option value="Done">Done</option>
        </select>*@
        <div id="boards">
            <div class="container">
                <!--<div class="todo_heading_text">
                    <strong>Todo Boards</strong>
                </div>

                <div class="Todo_board">
                    <div class="todo_block" id="Todo">
                        <strong>ToDo</strong><br />
                        <input type="text" id="inputtext" class="inputtext" placeholder="Enter Todo here....">-->
                @*<textarea id="area" placeholder="Enter Description" rows="2" cols="2"></textarea><br />*@
                <!--<button id="btn" class="btnn" onclick="saveTask()">Add To Do</button>
                <div id="tasks">
                    <div class="ToDoList" draggable="true">-->
                      @*<div class="todo">
                         <input type="text" class="text" value="Todo" readonly="readonly"/>
                        </div>
                        <div class="actions">
                         <button class="edit">edit</button>
                         <button class="delete">X</button>
                        </div>
                    </div>*@
                <!--</div>
                    </div>
                </div>-->

                @*<div class="todo_block1" id="Doing">
                   <label><strong>Doing</strong></label>
                </div>
                <div class="todo_block2" id="Done">
                    <strong>Done</strong>
                </div>*@

            </div>
        </div>
    </div>
    <script>
        //let AllTasks = document.querySelector("#tasks");
        //let Task = document.querySelector("#button1");
        //let Items = document.querySelector("#boards");

        


        ////let ToDo = document.querySelector("#inputtext");
        ////let addToDo = document.querySelector("#btn");
        ////let TodoItems = document.querySelector("#tasks");

        //let Boards = [];

        //Task.addEventListener('click', () => {


        //    let Container = document.createElement('div');
        //    Container.classList.add('container');

        //    let todo_heading_text = document.createElement('div');
        //    todo_heading_text.classList.add('todo_heading_text');

        //    Container.appendChild(todo_heading_text);

        //    var newlabel = document.createElement("Label");
        //    newlabel.setAttribute("for", "Todoboards");
        //    newlabel.innerHTML = "Todoboards";
        //    todo_heading_text.appendChild(newlabel);

        //    let Todo_Board = document.createElement('div');
        //    Todo_Board.classList.add('Todo_Board');



        //    let todo_block = document.createElement('div');
        //    todo_block.classList.add('todo_block');

        //    let todo_block1 = document.createElement('div');
        //    todo_block1.classList.add('todo_block1');


        //    let todo_block2 = document.createElement('div');
        //    todo_block2.classList.add('todo_block2')

        //    var newlabel1 = document.createElement("Label");
        //    newlabel1.setAttribute("for", "Todo");
        //    newlabel1.innerHTML = "Todo";
        //    var newlabel2 = document.createElement("Label");
        //    newlabel2.setAttribute("for", "Doing");
        //    newlabel2.innerHTML = "Doing";
        //    var newlabel3 = document.createElement("Label");
        //    newlabel3.setAttribute("for", "Done");
        //    newlabel3.innerHTML = "Done";



        //    todo_block.appendChild(newlabel1);
        //    todo_block1.appendChild(newlabel2);
        //    todo_block2.appendChild(newlabel3);

        //    Todo_Board.appendChild(todo_block);
        //    Todo_Board.appendChild(todo_block1);
        //    Todo_Board.appendChild(todo_block2);
        //    Container.appendChild(Todo_Board);



        //    let todo_input_element1 = document.createElement('input');
        //    todo_input_element1.classList.add('text1');
        //    todo_input_element1.type = 'text';
        //    //todo_input_element.value = ToDo.value;
        //    //todo_input_element.setAttribute("readonly", "readonly");

        //    todo_block.appendChild(todo_input_element1);

          

        //    let Addtodo = document.createElement('button');
        //    Addtodo.classList.add('btnn');
        //    Addtodo.innerHTML = 'AddTodo';

        //    todo_block.appendChild(Addtodo);

        //    Items.appendChild(Container);
        //    console.log(Container);


        //    //all tasks code

        //    //let ToDo = document.querySelector("#inputtext");
        //    //let addToDo = document.querySelector("#btn");
        //    //let TodoItems = document.querySelector("#tasks");

        //    let todos = [];

        //    Addtodo.addEventListener('click', saveTask);
        //    Addtodo.addEventListener('click', () => {
        //        if (todo_input_element1.value != '') {
        //            todos.push(todo_input_element1.value);
        //        }
        //        if (todo_input_element1.value == "") {
        //            alert("Please Enter Something");
        //            return;
        //        }

        //        let ToDoList = document.createElement('div');
        //        ToDoList.classList.add('ToDoList');

        //        // creating div element
        //        let todo = document.createElement('div');
        //        todo.classList.add('todo');

        //        ToDoList.setAttribute("draggable", "true");
        //        ToDoList.addEventListener("dragstart", dragStart);
        //        ToDoList.addEventListener("dragend", dragEnd);


               

        //        // creating inputtext element
        //        let todo_input_element = document.createElement('input');
        //        todo_input_element.classList.add('text2');
        //        todo_input_element.type = 'text';
        //        todo_input_element.value = todo_input_element1.value;
        //        todo_input_element.setAttribute("readonly", "readonly");
        //        todo.appendChild(todo_input_element);

        //        //code for div element
        //        let todo_actions = document.createElement('div');
        //        todo_actions.classList.add('actions');

        //        // code for creating edit button
        //        let todo_edit = document.createElement('button');
        //        todo_edit.classList.add('edit');
        //        todo_edit.innerHTML = 'Edit';

        //        // code for creating delete button
        //        let todo_delete = document.createElement('button');
        //        todo_delete.classList.add('delete');
        //        todo_delete.innerHTML = 'X';

        //        //apending actions to todo actions
        //        ToDoList.appendChild(todo);

        //        todo_actions.appendChild(todo_edit);
        //        todo_actions.appendChild(todo_delete);
        //        ToDoList.appendChild(todo_actions);


        //       // Container.appendChild(ToDoList);
        //        todo_block.appendChild(ToDoList);
        //        Items.appendChild(ToDoList);
        //        todo_input_element1.value = "";
        //        console.log(ToDoList)

        //        // Edit functionality
        //        todo_edit.addEventListener('click', updatetodo);
        //        todo_edit.addEventListener('click', () => {
        //            if (todo_edit.innerText.toLowerCase() == 'edit') {
        //                todo_input_element.removeAttribute("readonly");
        //                todo_input_element.focus();
        //                todo_edit.innerText = "Update";
        //            } else {
        //                todo_input_element.setAttribute("readonly", "readonly");
        //                todo_edit.innerText = "Edit";
        //            }
        //        });

        //        // Delete functionality
        //        todo_delete.addEventListener('click', () => {
        //           Items.removeChild(ToDoList);

        //        });



        //        const all_Status = document.querySelectorAll('.todo_block')
        //        const all_Status1 = document.querySelectorAll('.todo_block1')
        //        const all_Status2 = document.querySelectorAll('.todo_block2')

        //        let draggableToDo = null;

        //        //draggable functions
        //        function dragStart() {
        //            draggableToDo = this;
        //        }

        //        function dragEnd() {
        //            draggableToDo = null;
        //        }

        //        all_Status.forEach((listoftodo) => {
        //            listoftodo.addEventListener('dragover', dragOver);
        //            listoftodo.addEventListener('dragenter', dragEnter);
        //            listoftodo.addEventListener('dragleave', dragLeave);
        //            listoftodo.addEventListener('drop', Drop);
        //        });

        //        all_Status1.forEach((listoftodo) => {
        //            listoftodo.addEventListener('dragover', dragOver);
        //            listoftodo.addEventListener('dragenter', dragEnter);
        //            listoftodo.addEventListener('dragleave', dragLeave);
        //            listoftodo.addEventListener('drop', Drop);
        //        });

        //        all_Status2.forEach((listoftodo) => {
        //            listoftodo.addEventListener('dragover', dragOver);
        //            listoftodo.addEventListener('dragenter', dragEnter);
        //            listoftodo.addEventListener('dragleave', dragLeave);
        //            listoftodo.addEventListener('drop', Drop);
        //        });



        //        function dragOver(e) {
        //            e.preventDefault();
        //        }

        //        function dragEnter(e) {
        //            e.preventDefault();
        //        }

        //        function dragLeave(e) {

        //            e.preventDefault();

        //        }
        //        function Drop() {
        //            this.appendChild(draggableToDo);

        //        }





               
        //    });
        //});





        //function saveTask() {
        //    //Add todo in database
        //    let Title = $(".text1").val();
        //    /*let description = $("#task-description").val();*/
        //    var url = '/Admin/Todoitem';
        //    var data = JSON.stringify({
        //        "Title": Title,
        //        /*"description": description*/
        //    });
        //    $.ajax({
        //        type: "POST",
        //        data: data,
        //        url: url,
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        success: function (result) {
        //            alert(result);
        //        },
        //        error: function (error) {
        //            alert(error);
        //        },
        //    });
        //}

        //function updatetodo() {
        //    let Title = $(".text2").val();
        //    let description = $("#task-description").val();
        //    var url = '/Admin/Todoitem';
        //    var data = JSON.stringify({
        //        "Title": Title,
        //        "description": description
        //    });
        //    $.ajax({
        //        type: "Put",
        //        data: data,
        //        url: url,
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        success: function (result) {
        //            alert(result);
        //        },
        //        error: function (error) {
        //            alert(error);
        //        },
        //    });
        //}
       
        //    addToDo.addEventListener('click', () => {
        //        if (ToDo.value != '') {
        //            todos.push(ToDo.value);
        //        }
        //        if (ToDo.value == "") {
        //            alert("Please Enter Something");
        //            return;
        //        }

        //        let ToDoList = document.createElement('div');
        //        ToDoList.classList.add('ToDoList');

        //        /// creating div element
        //        let todo = document.createElement('div');
        //        todo.classList.add('todo');

        //        ToDoList.setAttribute("draggable", "true");
        //        ToDoList.addEventListener("dragstart", dragStart);
        //        ToDoList.addEventListener("dragend", dragEnd);

        //       //// creating input element
        //        let todo_input_element = document.createElement('input');
        //        todo_input_element.classList.add('text');
        //        todo_input_element.type = 'text';
        //        todo_input_element.value = ToDo.value;
        //        todo_input_element.setAttribute("readonly", "readonly");
        //        todo.appendChild(todo_input_element);

        //       //// code for div element
        //        let todo_actions = document.createElement('div');
        //        todo_actions.classList.add('actions');

        //        /// code for creating edit button
        //        let todo_edit = document.createElement('button');
        //        todo_edit.classList.add('edit');
        //        todo_edit.innerHTML = 'Edit';

        //        //// code for creating delete button
        //        let todo_delete = document.createElement('button');
        //        todo_delete.classList.add('delete');
        //        todo_delete.innerHTML = 'X';

        //       //// apending actions to todo actions
        //        todo_actions.appendChild(todo_edit);
        //        todo_actions.appendChild(todo_delete);
        //        ToDoList.appendChild(todo_actions);

        //        TodoItems.appendChild(ToDoList);

        //        Todo_Board.appendChild(AllTasks);
        //        ToDo.value = "";

        //        //Edit functionality
        //        todo_edit.addEventListener('click', () => {
        //            if (todo_edit.innerText.toLowerCase() == 'edit') {
        //                todo_input_element.removeAttribute("readonly");
        //                todo_input_element.focus();
        //                todo_edit.innerText = "Update";
        //            } else {
        //                todo_input_element.setAttribute("readonly", "readonly");
        //                todo_edit.innerText = "Edit";
        //            }
        //        });

        //        // Delete functionality
        //        todo_delete.addEventListener('click', () => {
        //            TodoItems.removeChild(ToDoList);

        //        });

        //        ToDoList.appendChild(todo);


        //        const all_Status = document.querySelectorAll('.todo_block')
        //        let draggableToDo = null;

        //        //draggable functions
        //        function dragStart() {
        //            draggableToDo = this;
        //        }

        //        function dragEnd() {
        //            draggableToDo = null;
        //        }

        //        all_Status.forEach((listoftodo) => {
        //            listoftodo.addEventListener('dragover', dragOver);
        //            listoftodo.addEventListener('dragenter', dragEnter);
        //            listoftodo.addEventListener('dragleave', dragLeave);
        //            listoftodo.addEventListener('drop', Drop);
        //        });



        //        function dragOver(e) {
        //            e.preventDefault();
        //        }

        //        function dragEnter(e) {
        //            e.preventDefault();
        //        }

        //        function dragLeave(e) {

        //            e.preventDefault();

        //        }
        //        function Drop() {
        //            this.appendChild(draggableToDo);

        //        }

        //    });

        //});


    </script>

    

    @*<script src="~/Scripts/Admin.js/Todoitem.js"></script>*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Scripts/Admin.js/Login.js"></script>
</body>
</html>
