@model NEWTODOAPP.Models.Login

<h2>Login</h2>
<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" placeholder="Enter Email">
</div>
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="txtpassword" placeholder="Password">
</div>
<button type="submit" class="btn btn-primary" onclick="Login()">Login</button>
<br/>

<label >Dont have an account?<a href="/Admin/Register">create an account</a></label>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script src="~/Scripts/Admin.js/Login.js"></script>

