@*@model NEWTODOAPP.Models.Todo*@

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/CSS/Todo.css" rel="stylesheet" type="text/css" />
    <title>Kanban Board</title>
</head>
<body>
    <h2>Todo Application</h2>
    <div class="ticket">
        <button id="button1" >Add new Board</button>
    </div>
    @*<select name="Todos" id="Todos">
        <option value="Todo">Todo</option>
        <option value="Doing">Doing</option>
        <option value="Done">Done</option>
    </select>*@
    <div id="boards" >
        <div class="container" >
            <div class="todo_heading_text">
                <strong>Todo Boards</strong>
            </div>

            <div class="Todo_board">
                <div class="todo_block" id="Todo">
                    <strong>ToDo</strong><br />
                    <input type="text" id="inputtext" class="inputtext" placeholder="Enter Todo here....">
                    <button id="btn" class="btnn" onclick="saveTask()">Add To Do</button>
                
                    <div id="tasks">
                        <div class="ToDoList" draggable="true">
                            @*<div class="todo">
                               <input type="text" class="text" value="Todo" readonly="readonly"/>
                                </div>
                                <div class="actions">
                                 <button class="edit">edit</button>
                                 <button class="delete">X</button>
                                </div>
                            </div>*@
                        </div>
                    </div>
               
                 </div>
                <div class="todo_block" id="Doing">
                    <strong>Doing</strong>
                    @*<div id="Inprogress" ></div>*@
                </div>
                <div class="todo_block" id="Done">
                    <strong>Done</strong>
                    @*<div id="Completed"></div>*@
                </div>
            </div>
        </div>
    </div>





    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/Admin.js/Todoitem.js"></script>
</body>
</html>