@model NEWTODOAPP.Models.Todo

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/CSS/Todo.css" rel="stylesheet" type="text/css" />
    <title>Kanban Board</title>
</head>
<body>
 <h2>Todo Application</h2>
    <div class="container">
        <div class="Todo-heading">
            <strong class="todo-heading_text">Todo Boards</strong>
        </div>
        <div class="Todo_board">
            <div class="todo_block" id="Todo" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>ToDo</strong>
                <div class="Todo_btn_block">
                    <button id="task-button" onclick="createTask()"><span>Create New Task</span></button>
                </div>
                <div class="create-new-task-block" id="create-new-task-block">
                    <strong>New Task</strong>
                    <span class="form-row">
                        <input class="form-row-input" type="text" name="task-name" id="task-name" placeholder=" enter new task">
                    </span>
                    <span class="form-row">
                        <textarea class="form-row-input" name="task-description" id="task-description" placeholder="write some description"></textarea>
                    </span>
                    <span class="form-row-buttons">
                            <button id="edit-button" onclick="editTask()">Edit</button>
                            <button id="save-button" onclick="saveTask()">+Add</button>
                            <button id="cancel-button" onclick="createTask()">cancel</button>
                    </span>
                </div>
                <div class="task" id="task1" draggable="true" ondragstart="drag(event)">
                    <span>Task1</span>
                </div>
                <div class="task" id="task2" draggable="true" ondragstart="drag(event)">
                    <span>Task2</span>
                </div>
                <div class="task" id="task3" draggable="true" ondragstart="drag(event)">
                    <span>Task3</span>
                </div>
            </div>
            <div class="todo_block" id="Doing" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>Doing</strong>
            </div>
            <div class="todo_block" id="Done" ondrop="drop(event)" ondragover="allowDrop(event)">
                <strong>Done</strong>
            </div>
           
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/Admin.js/Todoitem.js"></script>
</body>
</html>